/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version	 :	1.0.0
Updated	 :	06.11.2019
*/
/*! WRITE YOUR CUSTOM STYLE **/
.bg-light-alt {
	background-color: black!important;
}
.features {
	color: white!important;
	text-align: center;
}

.features h5 {
	color: #00FFD9;
}


.banner-wrap {

	min-height: 50em;
}

.banner-vertical {

	margin-top: 5em;

}

.opacity {

  background-color: rgba(255,255,255,0.2);;

}

.supernode-bullet {

	list-style-image: url('images/check.svg')!important;
}

.bulletimg {
	margin-right: 1em;

}

.herotable {
	line-height: 2em;
	color: white;
	font-weight: 500;
	font-size: 150%;
	text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
	font-size:48px;
}

.title:not(:last-child) {

	margin-bottom: .5em;

}

.mxc-supernode-applic {	color: #FFFFFF;	font-family: Montserrat;	font-size: 40px;	font-weight: 800;	line-height: 49px;}
.quarterly-returns {	height: 29px;	width: 440px;	color: #FFFFFF;	font-family: Montserrat;	font-size: 24px;	font-weight: 500;	line-height: 2em;}
.voting-rights-for-mx {	height: 29px;	width: 454px;	color: #FFFFFF;	font-family: Montserrat;	font-size: 24px;	font-weight: 500;	line-height: 2em;}
.early-access-to-news {	height: 29px;	width: 333px;	color: #FFFFFF;	font-family: Montserrat;	font-size: 24px;	font-weight: 500;	line-height: 2em;}
.application-form {	height: 22px;	width: 161px;	color: #FFFFFF;	font-family: Montserrat;	font-size: 18px;	font-weight: 600;	line-height: 22px;}
.what-is-an-mxc-super {	height: 37px;	width: 538px;	color: #00FFD9;	font-family: Montserrat;	font-size: 30px;	font-weight: 800;	line-height: 37px;}
.field-label {color: #6D7278;	font-family: Montserrat;	font-size: 13px;	font-weight: 500;	line-height: 16px;}
.mxc-supernodes-are-t {	color: #FFFFFF;	font-family: Montserrat;	font-size: 16px;	font-weight: 500;	line-height: 23px;}
.your-future-awaits {	color: #00FFD9!important;	font-family: Montserrat;	font-size: 30px;	font-weight: 900;	line-height: 37px;	text-align: center;}
.text-page {color: #FFFFFF!important;	font-family: Montserrat;	font-size: 16px;	font-weight: 500;	line-height: 23px;	text-align: center;}
.btn-mxc {padding:.5em; border-radius: 32.5px;	background: linear-gradient(90deg, #09006E 0%, #01E8CF 100%); border-style: hidden; color:white; font-family: Montserrat; font-size: 20px; font-weight: bold;}
.apply-to-be-an-mxc-s {color: #FFFFFF;	font-family: Montserrat;	font-size: 20px;	font-weight: bold;	line-height: 24px;}

.section1 {
	min-height: 80%;
	background-image: url("images/hero.png");
 	background-position: x y125;
 	background-repeat: no-repeat;
	 background-size: cover;
	 background-attachment: scroll;
	 background-color: black;

}

.section2 {
	background-image: url("images/net.png");
	background-color: black;
 	background-position: x0 y0;
 	background-repeat: no-repeat;
	background-size: 60%;
	}

.section3 {
	background-image: url("images/net.png");
	background-color: black;
 	background-position: bottom right;
 	background-repeat: no-repeat;
	background-size:45%;
	}
	
.section4 {
	background-image: url("images/globehalf.png");
	background-color: black;
 	background-position: center;
 	background-repeat: no-repeat;
	background-size: contain;
	}

.input-line {

	color: white;
}

.middle {color: #00FFD9!important;	font-family: Montserrat;	font-size: 30px;	font-weight: 800;	line-height: 37px;	text-align: center;}
.centertext {color: #FFFFFF;	font-family: Montserrat;	font-size: 16px;	font-weight: 500;	line-height: 23px;	text-align: center;}
.space {
	margin: 2em;

}



.tc-light p, .tc-light a:not(.btn) p, .tc-light .list, .tc-light a:not(.btn) .list {
    color: white;
	}
	
.video {padding: 30%;}

.icon-feature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}