@font-face {
  font-family: poppins;
  font-display: auto;
  src: url(../fonts/Poppins-Bold.eot);
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(../fonts/Poppins-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-Bold.woff2) format("woff2"),
    url(../fonts/Poppins-Bold.woff) format("woff"),
    url(../fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  font-display: auto;
  src: url(../fonts/Poppins-Light.eot);
  src: local("Poppins Light"), local("Poppins-Light"),
    url(../fonts/Poppins-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-Light.woff2) format("woff2"),
    url(../fonts/Poppins-Light.woff) format("woff"),
    url(../fonts/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  font-display: auto;
  src: url(../fonts/Poppins-SemiBold.eot);
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url(../fonts/Poppins-SemiBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-SemiBold.woff2) format("woff2"),
    url(../fonts/Poppins-SemiBold.woff) format("woff"),
    url(../fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  font-display: auto;
  src: url(../fonts/Poppins-Medium.eot);
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url(../fonts/Poppins-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-Medium.woff2) format("woff2"),
    url(../fonts/Poppins-Medium.woff) format("woff"),
    url(../fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  font-display: auto;
  src: url(../fonts/Poppins-Regular.eot);
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url(../fonts/Poppins-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Poppins-Regular.woff2) format("woff2"),
    url(../fonts/Poppins-Regular.woff) format("woff"),
    url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.eot);
  src: local("Roboto Light"), local("Roboto-Light"),
    url(../fonts/Roboto-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Roboto-Light.woff2) format("woff2"),
    url(../fonts/Roboto-Light.woff) format("woff"),
    url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.eot);
  src: local("Roboto"), local("Roboto-Regular"),
    url(../fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/** 02.01 Reset */
html, body { font-family: "Roboto", sans-serif; color: #415076; font-size: 14px; line-height: 1.6; font-weight: 300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; }

@media (min-width: 576px) { html, body { font-size: 16px; line-height: 1.6; font-weight: 300; } }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }

*[hidden] { display: none; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote::after, blockquote::before, q::after, q::before { content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #1940b0; font-weight: 500; font-family: "Roboto", sans-serif; line-height: 1.3; margin-bottom: 0.5rem; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, .h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child { margin-bottom: 0; }
.tc-light h1, .tc-light a:not(.btn) h1, .tc-light h2, .tc-light a:not(.btn) h2, .tc-light h3, .tc-light a:not(.btn) h3, .tc-light h4, .tc-light a:not(.btn) h4, .tc-light h5, .tc-light a:not(.btn) h5, .tc-light h6, .tc-light a:not(.btn) h6, .tc-light .h1, .tc-light a:not(.btn) .h1, .tc-light .h2, .tc-light a:not(.btn) .h2, .tc-light .h3, .tc-light a:not(.btn) .h3, .tc-light .h4, .tc-light a:not(.btn) .h4, .tc-light .h5, .tc-light a:not(.btn) .h5, .tc-light .h6, .tc-light a:not(.btn) .h6 { color: #fff; }

p { margin-bottom: 1rem; }
p:last-child { margin-bottom: 0; }

ul, ol, table { margin: 0; padding: 0; }

strong, b { font-weight: 500; }

a { outline: 0 none; transition: all 0.5s; color: #16a3fe; }
a:link, a:visited { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; color: #23c99d; }

img { max-width: 100%; height: auto; }

h1, .h1, .fz-1 { font-size: 2.75rem; }

h2, .h2, .fz-2 { font-size: 2.25rem; }

h3, .h3, .fz-3 { font-size: 1.87rem; }

h4, .h4, .fz-4 { font-size: 1.6rem; }

h5, .h5, .fz-5 { font-size: 1.2rem; }

h6, .h6, .fz-6 { font-size: 0.94rem; }

.fz-7 { font-size: 0.88rem; }

.fz-8 { font-size: 0.75rem; }

.lead, .lead-light { font-weight: 300; color: #fff; font-size: 120%; }

.nk-df-content, .nk-ovm:before, .nk-ovm:after { content: ""; }
.nk-df-rel, .has-ovm, .has-bg, [class*='bg-'], .has-bg-image { position: relative; }
.nk-df-over-up, .has-ovm > [class*=container], .has-ovm > :not(.nk-ovm):not(.header-main):not(.nk-header), .has-bg-image > [class*=container] { position: relative; }
.nk-df-t, .nk-df-y { top: 0; }
.nk-df-b, .nk-df-y { bottom: 0; }
.nk-df-l, .nk-df-x { left: 0; }
.nk-df-r, .nk-df-x { right: 0; }
.nk-df-around, .nk-ovm, .nk-ovm:before, .nk-ovm:after, .bg-image, .overlay:after, .nk-ovm .nk-svgs, .progress-percent, .accordion-icon:before, .accordion-icon:after { position: absolute; bottom: 0; top: 0; left: 0; right: 0; }
.nk-df-center, .nk-block-video-play { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.nk-df-bg, .nk-ovm, .nk-ovm:before, .nk-ovm:after, .has-bg, [class*='bg-'], .bg-image { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.nk-df-bg-100, .img-block-dot, .app-slide-wrap:after, .rank-item { background-repeat: no-repeat; background-size: 100%; background-position: 50% 50%; }

body {
  font-family: -apple-system, Roboto, 'Open Sans', sans-serif;
  font-display: auto;
  color: #3c3c3c;
  font-size: 15px;
  line-height: 1.86;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body,
html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
table,
ul {
  margin: 0 0 18px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
ol:last-child,
p:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}
.main:before {
  content: "";
  top: 0;
  width: 100%;
  background: url(../images/img_bg.svg);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.33;
  font-weight: 600;
  color: #373e45;
}
.banner h1, h4 {
  color: #fff;
}
.h1,
h1 {
  font-size: 2.93em;
}
.h2,
h2 {
  font-size: 2.3em;
}
.h3,
h3 {
  font-size: 1.87em;
}
.h4,
h4 {
  font-size: 1.6em;
}
.h5,
h5 {
  font-size: 1.33em;
}
p {
  font-size: 1em;
}
p.lead {
  font-size: 1.27em;
  line-height: 1.68;
}
ol,
ul {
  padding: 0;
  margin: 0;
}
ol li,
ul li {
  list-style: none;
}
.relative {
  position: relative;
}
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
table + h1,
table + h2,
table + h3,
table + h4,
table + h5,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5 {
  margin-top: 35px;
}
b,
strong {
  font-weight: 600;
}
a {
  outline: 0;
  transition: all 0.5s;
  color: #46bdf4;
}
a:link,
a:visited {
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 5;
}
.pack {
  margin: 0 1em;
}
.animated {
  visibility: hidden;
}
.navbar-toggle {
  margin-right: 0;
}
.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}
.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  filter: none;
}
.nav-item {
  padding: 5px;
  margin: 8px;
  font-size: 120%;
}
.io-zinnia .site-header .navbar-nav > li > a:hover {
  color: #00ffd9;
}
.product {
  max-width: 25vw;
  height: 30vh;
  padding: 0 20px;
  margin: 0 10px;
  line-height: 21px;
  text-align: center;
  background-color: #dbe4f720;
  border: 1px solid #dbe4f740;
  border-radius: 0.5em;
}
.product:hover {
  background-color: #00ffd920;
  border: 1px solid #00ffd940;
}
.product img {
  display: inline-block;
  width: 8vw;
  height: auto;
  padding: 10px 0;
}
.product h2 {
  font-size: 20px;
}
.support-content {
  margin-top: 10vh;
}
.blog:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 992px) {
  .h2,
  h2 {
    font-size: 2em;
  }
  a.lead {
    font-size: 2em;
    padding-right: 1.5em;
  }
  a.btn.btn-sm {
    font-size: 0.9em;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  body {
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
  }
  .h2,
  h2 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .h1,
  h1 {
    font-size: 2.1em;
  }
}
@media only screen and (max-width: 480px) {
  body {
    min-width: 320px;
  }
  .h1,
  .heading-lg,
  .heading-lg-lead,
  h1 {
    font-size: 1.8em;
  }
  .h2,
  h2 {
    font-size: 1.6em;
  }
  .h3,
  h3 {
    font-size: 1.3em;
  }
  .h5,
  h5 {
    font-size: 1em;
  }
  h5.lead {
    margin-top: 2em;
  }
  a.lead {
    margin: 0;
    padding: 0 1em;
  }
  a.local {
    font-size: 1.3em;
    font-weight: 400;
    padding: 0.7em 4em;
    line-height: 3em;
  }
  a.btn.btn-sm {
    font-size: 1em;
  }
}
@media only screen and (max-width: 380px) {
  .btn + .btn {
    margin-top: 5px;
  }
  .io-zinnia p {
    font-size: 2em;
  }
}

/*! 03.0 - UTILITY */
img {
  outline: 0;
  border: 0 none;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.section-pad-md {
  padding-top: 50px;
  padding-bottom: 50px;
}
.no-pb,
.pb-no {
  padding-bottom: 0 !important;
}
@media only screen and (max-width: 991px) {
  .res-m-bttm {
    margin-bottom: 30px;
  }
}

/*! 04.0 - COMMON */
@media only screen and (max-width: 767px) {
  .tab-custom .tab-content {
    padding: 25px 0 30px;
  }
  .tab-custom .nav-tabs li.nav-item > a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 350px) {
  .tab-custom .nav-tabs li.nav-item {
    display: block;
    width: 100%;
  }
  .tab-custom .nav-tabs li.nav-item > a {
    font-size: 12px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .res-m-bttm {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tab-center {
    text-align: center !important;
  }
  .tab-left {
    text-align: left !important;
  }
}
@media only screen and (max-width: 767px) {
  .mobile-center {
    text-align: center !important;
  }
  .navigation,
  body {
    min-width: 300px;
  }
}

/*! 06.0 - HEADER SECTION */
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.theme-dark:not(.io-azure) .particles-container {
  opacity: 0.7;
}
.site-header {
  position: relative;
}
.site-header .navbar {
  border-radius: 0;
  border: 0 none;
  min-width: 300px;
  padding: 12px 0 0;
  margin: 0;
  z-index: 9;
}
.site-header .navbar-brand {
  height: auto;
  padding: 0;
}
.site-header .navbar-brand img {
  width: auto;
  max-width: 100%;
  max-height: 40px;
}
.site-header .navbar-collapse {
  padding: 0;
  background-color: transparent;
  color: #3c3c3c;
}
.site-header .logo-light {
  display: none;
}
.navbar .navbar-nav > li:hover > a {
  color: #46bdf4;
  background: 0 0;
}
.navbar .navbar-nav > li > a {
  font-weight: 600;
}
.navbar .navbar-nav > li > a.nav-link {
  padding-left: 0;
  padding-right: 0;
}
.navbar .navbar-nav > li > a.nav-link.btn {
  min-width: auto;
  padding: 0 23px;
}
.navbar .navbar-nav > li > a.nav-link.btn.active {
  color: #fff;
}
.navbar .navbar-nav > li > a.nav-link.btn.active:after {
  opacity: 0;
}
.navbar .navbar-nav > li > a.nav-link.btn.active:before {
  opacity: 1;
}
.navbar .navbar-nav > li > a.nav-link.active {
  color: #46bdf4;
  background: 0 0;
}
.navbar .navbar-nav > li > .dropdown-menu .dropdown-menu,
.navbar .navbar-nav > li > .dropdown-menu .nav-opened .dropdown-menu {
  top: 0;
  margin-top: 0;
}
.navbar .navbar-nav > li.nav-opened > .dropdown-menu,
.navbar .navbar-nav > li:hover > .dropdown-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.navbar .navbar-nav.rollover .dropdown-menu {
  z-index: 1010;
}
.navbar .navbar-nav .dropdown-menu {
  background: #1b1e4b;
  border: 0;
  border-radius: 0;
  padding: 10px 0;
  left: 0;
  top: 100%;
  display: block;
  opacity: 0;
  width: 200px;
  visibility: hidden;
  transition: all 0.3s;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.navbar .navbar-nav .dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: 20px;
  content: "";
  height: 0;
  width: 0;
  border-bottom: 7px solid #1b1e4b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.navbar .navbar-nav .dropdown-menu .dropdown-menu,
.navbar .navbar-nav .dropdown-menu .nav-opened .dropdown-menu {
  left: 200px;
  opacity: 0;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item.active,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #46bdf4;
  background: 0 0;
}
.navbar .navbar-nav .dropdown-menu .caret {
  margin-top: 0;
  vertical-align: middle;
  transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  right: 20px;
}
.navbar .navbar-nav .dropdown-menu li {
  position: relative;
}
.navbar .navbar-nav .dropdown-menu li:hover > a {
  color: #46bdf4;
  background: 0 0;
}
.navbar .navbar-nav .dropdown-menu li a {
  padding: 10px 25px 10px 15px;
  text-transform: inherit;
}
.navbar .navbar-nav .dropdown-menu li.nav-opened .dropdown-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.navbar .navbar-nav .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.navbar .navbar-nav .dropdown-menu li:hover.has-children:after {
  border-left-color: #46bdf4;
}
.navbar .navbar-nav .dropdown-menu li.has-children:after {
  position: absolute;
  top: 50%;
  right: 20px;
  content: "";
  height: 0;
  width: 0;
  transform: translateY(-50%);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #3c3c3c;
  transition: all 0.5s ease;
}
.navbar .navbar-nav .dropdown-menu li.dropdown > a:before {
  content: "\f105";
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  opacity: 1;
  margin-top: -7px;
  height: 14px;
  width: 12px;
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  font-family: FontAwesome;
  color: #000;
}
.navbar .navbar-nav .dropdown-menu li > a:focus,
.navbar .navbar-nav .dropdown-menu li > a:hover,
.navbar .navbar-nav .dropdown-menu.active > a {
  color: #46bdf4;
}
.navbar .navbar-nav .dropdown-menu > .active > a,
.navbar .navbar-nav .dropdown-menu > .active > a:focus,
.navbar .navbar-nav .dropdown-menu > .active > a:hover {
  color: #46bdf4;
  background-color: #f5f5f5;
}
.navbar .navbar-nav .label {
  margin-top: -3px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
  padding: 3px 10px 4px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.io-dark-light .section-light .navbar .navbar-nav .dropdown-menu,
.io-dark-light .section-light-alt .navbar .navbar-nav .dropdown-menu,
.theme-light .navbar .navbar-nav .dropdown-menu {
  background: #d0e5ff;
}
.io-dark-light .section-light .navbar .navbar-nav .dropdown-menu:after,
.io-dark-light .section-light-alt .navbar .navbar-nav .dropdown-menu:after,
.theme-light .navbar .navbar-nav .dropdown-menu:after {
  border-bottom-color: #d0e5ff;
}
.io-dark-light .section-light .navbar .navbar-nav .dropdown-menu .dropdown-item,
.io-dark-light
  .section-light-alt
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item,
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #3c3c3c;
}
.io-dark-light
  .section-light
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item.active,
.io-dark-light
  .section-light
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item:focus,
.io-dark-light
  .section-light
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item:hover,
.io-dark-light
  .section-light-alt
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item.active,
.io-dark-light
  .section-light-alt
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item:focus,
.io-dark-light
  .section-light-alt
  .navbar
  .navbar-nav
  .dropdown-menu
  .dropdown-item:hover,
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item.active,
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #46bdf4;
  background: 0 0;
}
a.nav-link {
  color: #d0e5ff
}
.io-azure .navbar .navbar-nav .dropdown-menu {
  background: #0a3082;
}
.io-azure .navbar .navbar-nav .dropdown-menu:after {
  border-bottom-color: #0a3082;
}
.site-header {
  position: relative;
}
.site-header .navbar {
  padding: 0;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
}
.site-header .navbar-nav > li > a {
  color: #fff;
}
.site-header .navbar-nav > li.quote-btn {
  margin-top: 23px;
}
.site-header .navbar-nav > li:last-child:not(.quote-btn) {
  margin-right: -15px;
}
.site-header .navbar-collapse ul + ul {
  margin-top: 0;
}
.site-header .navbar-btns {
  margin-left: 60px;
}
.site-header .navbar.is-transparent {
  background: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.site-header .navbar.is-transparent .navbar-brand .logo-dark {
  display: none;
}
.site-header .navbar.is-transparent .navbar-brand .logo-light {
  display: block;
}
.site-header.has-fixed .navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  background: #020207;
  border-bottom-color: rgba(0, 0, 0, 0.04);
}
.site-header .is-transparent + .banner .banner-content {
  padding-top: 50px;
}
.site-header .navbar-brand {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  z-index: 6;
}
.language-switcher .dropdown-menu {
  border: none;
  background: #0f4bca;
  min-width: 46px;
  margin-left: 2px;
}
.language-switcher .dropdown-item {
  padding: 0 15px;
  color: #fff;
  font-size: 0.85em;
  text-align: center;
}
.language-switcher .dropdown-item:hover {
  color: #46bdf4;
  background: 0 0;
}
.navbar-toggler {
  margin-right: 15px;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease;
}
.navbar-toggler:hover {
  background: linear-gradient(to right, #2b56f5 0, #46bdf4 100%);
}
.navbar-toggler:focus {
  outline: 0;
}
.navbar-toggler-icon {
  line-height: 30px;
}
.navbar-toggler .ti {
  line-height: 30px;
  font-size: 20px;
}
.banner {
  max-height: 40vh;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .site-header .navbar-btns {
    margin-left: 30px;
  }
  .site-header .scroll-down {
    bottom: 100px;
    right: 20px;
  }
  .navbar .navbar-nav > li > a {
    font-size: 12px;
    margin: 0 6.5px;
  }
}
@media only screen and (max-width: 991px) {
  .site-header .navbar-brand {
    margin-left: 15px;
  }
  .site-header .navbar.is-transparent.active {
    background: #0b0c22;
  }
  .theme-light .site-header .navbar.is-transparent.active {
    background: #eff6ff;
  }
  .site-header .navbar-btns {
    margin: 0 20px 30px;
    padding-top: 10px;
    display: inline-block;
  }
  .site-header .navbar-btns li {
    display: inline-block;
  }
  .site-header .scroll-down {
    bottom: 80px;
    right: 0;
  }
  .navbar-collapse {
    position: relative;
  }
  .navbar-collapse:after {
    opacity: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 220px;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom, #0b0c22 0, #1b1e4b 100%);
    transition: all 0.4s;
  }
  .theme-light .navbar-collapse:after {
    background-image: linear-gradient(to bottom, #eff6ff 0, #d6e8ff 100%);
  }
  .navbar-collapse.show:after {
    opacity: 1;
  }
  .navbar .navbar-nav li:hover {
    opacity: 1;
  }
  .navbar .navbar-nav li a.nav-link {
    padding: 0 5px;
  }
  .navbar .navbar-nav .dropdown-menu {
    width: 100%;
    opacity: 1;
    visibility: visible;
    display: none;
    background-color: #fff;
  }
  .navbar .navbar-nav .dropdown-menu:after {
    display: none;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #4c5a77;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navbar-nav li a.nav-link {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 480px) {
  .site-header .is-transparent + .banner .banner-content {
    padding-top: 30px;
  }
  .header-txt p.lead {
    font-size: 0.75em;
  }
}

/*! 05.0 - BUTTONS */
.btn {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 46px;
  font-weight: 600;
  padding: 0 34px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  max-width: 100%;
  border: none;
  box-sizing: border-box;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
  -ms-border-radius: 23px;
  border-radius: 23px;
  background-image: -webkit-linear-gradient(left, #2b56f5 0, #46bdf4 100%);
  background-image: linear-gradient(to right, #2b56f5 0, #46bdf4 100%);
}
.btn:before {
  position: absolute;
  -ms-border-radius: 23px;
  border-radius: 23px;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0;
  transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(left, #46bdf4 0, #2b56f5 100%);
  background-image: linear-gradient(to right, #46bdf4 0, #2b56f5 100%);
}
.btn:hover:before {
  opacity: 1;
}
.btn.btn-sm {
  line-height: 39px;
  padding: 0 24px;
}
.btn.btn-simple .fa,
.btn.btn-simple .ti {
  margin-right: 8px;
  color: #46bdf4;
}
.btn.btn-more {
  background: 0 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #46bdf4;
  font-size: 0.9em;
}
.btn.btn-more:before {
  display: none;
}
.btn.btn-more .ti {
  position: relative;
  top: 1px;
  transition: all 0.4s ease;
}
.btn.btn-more:hover {
  color: #7a0fff;
}
.btn.btn-more:hover .ti {
  margin-left: 6px;
}
@media only screen and (max-width: 480px) {
  .btn {
    font-size: 10px;
    min-width: 110px;
    line-height: 40px;
    padding: 0 15px;
  }
  .btn-img {
    max-width: 110px;
  }
}

/*Side Nav*/
.side-nav {
  margin: 4em 1em;
}
.side-menu li {
  border-top: 1px solid #dbe4f780;
  margin-top: 5em;
}
.side-menu li a {
  display: block;
}
.side-menu li:nth-child(1) {
  margin: 0;
}
.hr-social {
  background-color: #dbe4f720;
  border: 1px solid #dbe4f740;
  border-radius: 0.5em;
}
.side-menu .hr-social li {
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.side-menu .hr-social .fab {
  line-height: 2em;
  padding-right: 0.4em;
  font-size: 130%;
}
.wgs {
  margin: 1em;
}

/*! 14.0 - FOOTER SECTION */
.copyright-text {
  font-size: 13px;
  display: block;
  margin-top: 40px;
}
.footer-brand {
  display: inline-block;
  margin-bottom: 25px;
}

/*! 15.0 - ANIMATION CSS */
.animated {
  animation-duration: 0.6s;
  /* z-index: 9; */
}
.dropdown-item {
  font-size: 12px;
}
.lang-switch .dropdown-menu {
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
}
.lang-switch .btn .ti {
  font-size: 10px;
  margin-left: 3px;
}
.section {
  position: relative;
}
.section-bg-light h1,
.section-bg-light h2,
.section-bg-light h3,
.section-bg-light h4,
.section-bg-light h5,
.section-bg-light h6,
[class*="section-bg-light"] h1,
[class*="section-bg-light"] h2,
[class*="section-bg-light"] h3,
[class*="section-bg-light"] h4,
[class*="section-bg-light"] h5,
[class*="section-bg-light"] h6 {
  color: #38385f;
}
.banner {
  position: relative;
}
.navbar-btns li {
  display: inline-block;
}
.dropdown-item {
  font-size: 12px;
}
.footer-bottom {
  margin-top: 30px;
}
.io-zinnia {
  background: #fff;
}
.io-zinnia p {
  font-size: 0.9em;
}
.io-zinnia p.lead {
  font-size: 0.9em;
  font-weight: 400;
}
.io-zinnia p strong {
  font-weight: 500;
}
.io-zinnia a {
  color: #09006e;
}
.io-zinnia a:hover {
  color: #00ffd9;
}
.io-zinnia h5 {
  font-size: 1.125em;
}
.io-zinnia .footer-section {
  overflow: hidden;
  background-image: linear-gradient(45deg, #09006e 0, #00ffd9 100%);
}
.io-zinnia .footer-bottom {
  padding: 10px 0 40px;
}
.io-zinnia .footer-bottom .copyright-text {
  margin-top: 0;
  color: #fff;
}
.io-zinnia .footer-bottom .footer-brand {
  margin-bottom: 0;
}
.io-zinnia .widget-title {
  color: #fff;
}
.io-zinnia .btn {
  color: #fff;
  border-radius: 23px;
  background-image: -webkit-linear-gradient(to right, #09006e 0, #00ffd9 100%);
  background-image: linear-gradient(to right, #09006e 0, #00ffd9 100%);
}
.io-zinnia .btn:before {
  border-radius: 23px;
  background-image: -webkit-linear-gradient(to right, #00ffd9 0, #09006e 100%);
  background-image: linear-gradient(to right, #00ffd9 0, #09006e 100%);
}
.io-zinnia .btn-outline {
  line-height: 42px;
  background: 0 0;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.io-zinnia .btn-outline:after,
.io-zinnia .btn-outline:before {
  display: none;
}
.io-zinnia .btn-outline:hover {
  color: #00ffd9;
  background: #fff;
  border-color: #fff;
}
.io-zinnia .btn-icon-s3 {
  background: #fff;
  color: #09006e;
  padding-right: 50px;
  padding-left: 34px;
  font-size: 14px;
  font-weight: 500;
}
.io-zinnia .btn-icon-s3:before {
  display: none;
}
.io-zinnia .btn-icon-s3 [class*="fa-"] {
  position: absolute;
  line-height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 50%;
  top: 4px;
  right: 4px;
  background: #09006e;
  color: #fff;
  transition: all 0.4s;
}
.io-zinnia .btn-icon-s3:hover {
  color: #09006e;
}
.io-zinnia .btn-icon-s3:hover [class*="fa-"] {
  background: #00ffd9;
  color: #fff;
}
.io-zinnia .site-header .navbar-nav > li > a {
  color: #fff;
}
.io-zinnia .site-header .navbar-nav > li > a.active {
  color: #00ffd9;
}
.io-zinnia .site-header .navbar-nav > li.open > a {
  color: #223b55;
}
.io-zinnia .site-header.has-fixed .navbar-nav > li > a {
  text-transform: capitalize;
  color: #223b55;
}
.io-zinnia .site-header.has-fixed .navbar-nav > li > a.active {
  color: #00ffd9;
}
.io-zinnia .site-header.has-fixed .navbar-nav > li.open > a {
  color: #00ffd9;
}
.io-zinnia
  .site-header.has-fixed
  .navbar.is-transparent
  .navbar-brand
  .logo-dark {
  display: block;
}
.io-zinnia
  .site-header.has-fixed
  .navbar.is-transparent
  .navbar-brand
  .logo-light {
  display: none;
}
.io-zinnia .site-header.has-fixed .navbar {
  background: #fff;
}
.io-zinnia .site-header .navbar-btns {
  margin-left: 20px;
}
.io-zinnia .site-header .is-transparent + .banner .banner-content {
  padding-bottom: 0;
  padding-top: 50px !important;
}
.io-zinnia .navbar .btn-outline {
  min-width: auto;
}
.io-zinnia .site-header .btn-outline:hover {
  color: #00ffd9;
  background: #fff;
  border-color: #fff;
}
.io-zinnia .btn-outline:hover {
  color: #00ffd9;
  background: #fff;
  border-color: #fff;
}
.io-zinnia .navbar .btn-outline:after {
  background: #362995;
}
.io-zinnia .navbar .btn.btn-sm {
  padding: 0 17px;
  line-height: 34px;
}
.io-zinnia .navbar-btns {
  margin: 0 -1px;
}
.io-zinnia .navbar-btns li {
  margin: 0 1px;
}
.io-zinnia .navbar .navbar-nav .dropdown-menu .dropdown-item {
  text-transform: capitalize;
}
.io-zinnia .navbar .navbar-nav .dropdown-menu .dropdown-item.active,
.io-zinnia .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #00ffd9;
}
.io-zinnia .site-header.has-fixed .btn-outline {
  color: #09006e;
  border-color: rgba(09, 0, 110, 0.2);
}
.io-zinnia .site-header.has-fixed .btn-outline:after {
  background: #fff;
}
.io-zinnia .site-header.has-fixed .btn-outline:hover {
  color: #fff;
  background: #00ffd9;
}
.io-zinnia .navbar-toggler {
  background: #fff;
}
.io-zinnia .navbar-toggler:focus,
.io-zinnia .navbar-toggler:hover {
  background: #fff;
}
.io-zinnia .navbar-toggler .ti {
  color: #00ffd9;
}
.io-zinnia .active .navbar-toggler {
  background: linear-gradient(to right, #09006e 0, #00ffd9 100%);
}
.io-zinnia .active .navbar-toggler:focus,
.io-zinnia .active .navbar-toggler:hover {
  background: linear-gradient(to right, #09006e 0, #00ffd9 100%);
}
.io-zinnia .active .navbar-toggler .ti {
  color: #fff;
}
.io-zinnia .section:before {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
}
.io-zinnia .document-section:before,
.io-zinnia .token-sale-section:before {
  background: url(../images/bg-shape-zinnia.png) 100% 100% no-repeat;
  background-size: cover;
}
.io-zinnia .roadmap-section:before {
  background: url(../images/bg-shape-b-zinnia.png) 100% 100% no-repeat;
  background-size: contain;
}
.site-header .navbar-full {
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-toggle::after {
  position: relative;
  top: 1px;
}
.header-text {
  margin-top: 5em;
}
@media only screen and (max-width: 991px) {
  .site-header .navbar-full {
    padding-left: 0;
    padding-right: 0;
  }
  .io-zinnia .navbar-collapse.show:after {
    display: none;
  }
  .io-zinnia .site-header .navbar.is-transparent.active {
    background: rgba(55, 26, 135, 0.05);
  }
  .io-zinnia .site-header .navbar-nav > li > a {
    color: #4c5a77;
  }
  .io-zinnia .site-header .navbar .btn-outline {
    color: #00ffd9;
    border-color: rgba(60, 28, 148, 0.2);
  }
  .io-zinnia .site-header .navbar .btn-outline:after {
    background: #fff;
  }
  .io-zinnia .site-header .navbar .btn-outline:hover {
    color: #fff;
    background: #00ffd9;
  }
  .io-zinnia .site-header .navbar.is-transparent.active {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 10px 40px rgba(93, 70, 232, 0.15);
  }
  .io-zinnia
    .site-header
    .navbar.is-transparent.active
    .navbar-brand
    .logo-dark {
    display: block;
  }
  .io-zinnia
    .site-header
    .navbar.is-transparent.active
    .navbar-brand
    .logo-light {
    display: none;
  }
  .header-text {
    padding-top: 20vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .io-zinnia .site-header .navbar-btns {
    margin-left: 6px;
  }
  .io-zinnia .banner-content {
    padding-right: 80px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1365px) /*Desktop*/ {
  .io-zinnia .navbar .navbar-nav > li > a {
    font-size: 12px;
    margin: 0 6.5px;
  }
  .video {
    height: 90vh;
  }
}
@media only screen and (min-width: 992px) {
  .io-zinnia .navbar .navbar-nav > li > a {
    font-size: 12px;
    margin: 0 4px;
  }
  .io-zinnia .navbar-btns li {
    margin: 0;
  }
  p.animated {
    line-height: 1.5em;
  }
  h4.hero {
    font-size: 3em;
  }
  h5.lead {
    margin-top: 1em;
  }
  .container h3 {
    font-size: 1.5em;
  }
  .container h4 {
    font-size: 1em;
  }
  a.lead {
    margin: 0;
    padding: 0 0.5em;
  }
  a.local {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0 0.5em;
    line-height: 2em;
  }
}
@media only screen and (max-width: 480px) {
  .io-zinnia .btn-icon-s3 {
    padding-right: 65px;
    width: 250px;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    align-content: center;
  }
  .io-zinnia .btn-icon-s3 [class*="fa-"] {
    line-height: 38px;
    width: 38px;
  }
  .io-zinnia .header-txt p {
    font-size: 1.33em;
  }
  .io-zinnia p.lead {
    font-size: 16px;
    line-height: 1.5em;
  }
  .io-zinnia p {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
  }
  .io-zinnia h5 {
    font-weight: 400;
  }
}
@media only screen and (min-width: 576px) /*Tablet*/ {
  .io-zinnia p {
    font-size: 1em;
  }
  .io-zinnia p.lead {
    font-size: 1em;
  }
  .io-zinnia .header-txt p {
    font-size: 1.33em;
  }
  .video {
    height: 50vh;
  }
  .supporters {
    height: 30vh;
  }
  #header .container {
    height: 40vh;
    margin: -12vh;
  }
}
@media only screen and (min-width: 780px) /*Tablet*/ {
  .io-zinnia .site-header .is-transparent + .banner .banner-content {
    padding-bottom: 120px;
  }
  .io-zinnia .banner {
    height: 80vh;
  }
  .io-zinnia .btn-icon-s3 {
    padding-right: 65px;
    align-content: center;
  }
  .btns {
    margin: 0;
    padding: 0;
  }
  .error-content {
    width: 50vw;
    position: relative;
    margin-top: -10vh;
  }
}
@media only screen and (min-width: 1200px) {
  .site-header .navbar-full {
    padding-left: 59px;
    padding-right: 59px;
  }
  .io-zinnia .navbar .btn.btn-sm {
    padding: 0 30px;
    line-height: 42px;
  }
  .io-zinnia .navbar-btns {
    margin: 0 -5px;
  }
  .io-zinnia .navbar-btns li {
    margin: 0 5px;
  }
  .blog {
    margin-top: 8vh;
  }
}
@media only screen and (min-width: 481px) {
  .io-zinnia .btn-icon-s3 [class*="fa-"] {
    line-height: 40px;
    width: 40px;
  }
}
.banner-zinnia {
  padding-top: 30vh;
  background: linear-gradient(135deg, #09006e 50%, #00ffd9 100%);
  background-size: contain, contain;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.text-center { z-index: 3; }
.nk-ovm { width: 100vw; height: auto; margin: 0; padding: 0; z-index: 1; }
/* .nk-df-mask-a-md, .mask-a-md:before, .mask-a-md-bg { background-image: url(../images/img_bg.svg); }
.ie .nk-df-mask-a-md, .ie .mask-a-md:before, .ie .mask-a-md-bg { background-image: url(../images/img_bg.png); } */
.nk-df-shape-a-sm, .shape-a-sm:after, .shape-a-sm-bg { background-image: url(../images/shape-a-sm.png); }
.mask-a:before, .mask-a-md:before, .mask-a-dark:before { background-position: bottom !important; }
.mask-contain-bottom:before { background-size: contain; background-position: 50% 100%; }
.nk-df-bg, .nk-ovm, .nk-ovm:before, .nk-ovm:after, .has-bg, [class*='bg-'], .bg-image { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.nk-df-bg-100, .img-block-dot, .app-slide-wrap:after, .rank-item { background-repeat: no-repeat; background-size: 100%; background-position: 50% 50%; }
.ov-h, .nk-block-video, .nk-banner, .banner-wrap, .feature-group, .feature-img { overflow: hidden; }
.nk-df-content, .nk-ovm:before, .nk-ovm:after { content: ""; }
.nk-df-rel, .has-ovm, .has-bg, [class*='bg-'], .has-bg-image { position: relative; }
.nk-df-around, .nk-ovm, .nk-ovm:before, .nk-ovm:after, .bg-image, .overlay:after, .nk-ovm .nk-svgs, .progress-percent, .accordion-icon:before, .accordion-icon:after { position: absolute; bottom: 0; top: 0; left: 0; right: 0; }
.nk-df-center, .nk-block-video-play { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.nk-df-bg, .nk-ovm, .nk-ovm:before, .nk-ovm:after, .has-bg, [class*='bg-'], .bg-image { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.nk-df-bg-100, .img-block-dot, .app-slide-wrap:after, .rank-item { background-repeat: no-repeat; background-size: 100%; background-position: 50% 50%; }
.nk-df-shape-a, .shape-a:after, .shape-a-bg, .bg-shape-a { background-image: url(../images/shape-a.png); }
.nk-df-shape-a-sm, .shape-a-sm:after, .shape-a-sm-bg { background-image: url(../images/shape-a-sm.png); }
.banner-gap-b3 { padding-bottom: 75px; }
.has-mask .banner-gap-b3 { padding-bottom: 120px; }
.banner { position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.btn-dropdown {
  padding: 0 34px 0 0;
  position: relative;
}
.btn-dropdown [class*="fa-"] {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 30px;
  line-height: 42px;
}
.widget-item {
  padding-bottom: 30px;
}
.widget-title {
  text-transform: uppercase;
}
.widget-links li {
  line-height: 24px;
  padding: 5px 0;
}
.widget-links li a {
  color: #fff;
}
.widget-links li a:focus,
.widget-links li a:hover {
  color: #00ffd9;
}
.widget-subsctibe p {
  color: #fff;
}
.widget-subsctibe .input-round {
  border-color: #09006e;
  color: #fff;
  background: 0 0;
}
.widget-subsctibe .btn {
  color: #09006e;
  background: #fff !important;
}
.error-content {
  display: inline-block;
  text-align: center;
  z-index: 2;
  align-content: center;
}

/*Tabs*/
.tabs li {
  display: inline-block;
  margin: 1em;
  font-weight: 600;
  z-index: 10;
}

.tab-nav-main li { padding: 5px 0; }
.tab-nav-main li:hover { border-bottom: 2px solid #b7bee3; }
.tab-nav-main li:active { border-bottom: 2px solid #00ffd9; }
.tab-nav-main li a { font-weight: 400; color: #b7bee3; }
.tab-nav-main a:active { font-weight: 600; border-bottom: 1px solid #00ffd9; }
.tab-nav ul a { display: block; border-bottom: 1px solid rgba(219, 228, 247, 0.5); font-weight: 500; }
.tab-nav li a { display:  block; transition: all .4s; font-weight: 200; border: none; }
.tab-nav li a:hover, .tab-nav li a.active { color: #00ffd9; }
.tab-nav-sap { flex-grow: 1; height: 2px; background: #8ca2e5; align-self: center; }
.tab-nav-vr { display: block; }
.tab-nav-vr li:last-child a { padding-bottom: 30px; }
.tab-nav-vr li a { padding: 5px 15px; }
.tc-light .tab-nav-vr li:not(:last-child) a { border-color: rgba(255, 255, 255, 0.07); }
.bg-theme .tab-nav-vr li:not(:last-child) a { border-color: rgba(19, 60, 142, 0.5); }
.tab-nav-s2 li a { text-transform: uppercase; padding: 0 10px; border-bottom-color: transparent; }
.tab-nav-s2 li a:hover, .tab-nav-s2 li a.active { color: #00ffd9; border-bottom-color: #00ffd9; }
.tab-nav-s2 li a:hover, .tab-nav-s2 li li.hover { color: #00ffd9; border-bottom-color: #00ffd970; transition: all .4s; }
.tab-nav-center { justify-content: center; }
.tab-pane { margin-bottom: 40px; }
.tab-pane li { list-style-type: disc; list-style-position: inside; }

a { outline: 0 none; transition: all 0.5s; }
a:link, a:visited { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; color: #23c99d; }

@media (min-width: 576px) { .tab-nav-s4 li a { font-size: 14px; } }

@media only screen and (max-width: 580px) {
  .error-content .lead {
    line-height: 1em;
    font-size: 1em;
  }
  .nk-ovm {
    width: 200%;
  }
  .banner {
    max-height: 60vh;
  }
  .tabs {
    z-index: 3;
  }
  .container .main {
    margin-top: 70vh;
  }
  .tabs li {
    margin: 0;
  }
}
@media only screen and (max-width: 780px) /*Tablet*/ {
  .header-text {
    width: 100vw;
    height: 30vh;
    margin-top: -30em 0;
  }
  .justify-content-center {
    width: 100vw;
  }
  .text-center {
    padding: 0;
    margin: -12em 0 0 0;
    width: 100vw;
  }
  .blog-feature {
    width: 100%;
    height: 100%
  }
  .nk-ovm {
    width: 200%;
  }
  .banner {
    padding-top: 15vh;
  }
  .container .side-nav {
    position: relative;
  }
  .order-first {
    order: -1;
  }
  .container .main {
    margin-top: 0;
  }
  .row .hr-social {
    display: inline-block;
  }
  .side-menu .hr-social .fab {
    font-size: 150%;
    padding-right: 0.9em;
  }
  .io-zinnia .site-header .navbar.is-transparent.active {
    padding: 0 20px 20px 20px;
  }
  .io-zinnia .site-header .navbar-nav > li > a {
    margin: 10px 0;
  }
  .navbar .navbar-nav > li > a.nav-link.btn {
    max-width: 40vw;
    margin: 5px 0;
  }
  .product {
    min-width: 80vw;
    max-height: 30vh;
    margin-left: -18px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .error-content {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767px) {
  .error-content {
    margin-left: auto;
    margin-right: auto;
  }
  .error-graphics-one {
    width: 150px;
    margin-right: 15px;
  }
  .error-graphics-two {
    width: 130px;
    margin-left: 15px;
  }
  .btns {
    margin: 0;
  }
  h5.lead {
    margin-top: 2em;
  }
  a.lead {
    margin: 0;
    padding: 0 1em;
  }
  a.local {
    font-size: 1.3em;
    font-weight: 400;
    padding: 0.7em 3em;
    line-height: 3em;
  }
}
@media only screen and (max-width: 480px) /*Mobile*/{
  .error-content {
    margin-top: 5vh;
  }
  .error-graphics-one {
    margin-right: -30px;
  }
  .error-graphics-two {
    margin-left: -30px;
  }
  ul.btns {
    margin: 0;
    padding: 0;
  }
  .error-content h1 {
    font-size: 2.5em;
  }
  .header-text {
    margin-top: -5vh;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1440px) and (max-height: 700px) {
  .error-content {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
  }
  ul.btns {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 812px) and (orientation: landscape) {
  .page-error {
    height: auto;
  }
}
.btns {
  margin-top: 8vh;
}
.btns li {
  display: inline-block;
  margin: 10px 15px;
}
.btns li a:not(.btn) {
  margin-right: 10px;
}

/*! UI Shapes and elements */

.ui-shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}
.ui-shape:after,
.ui-shape:before {
  position: absolute;
  content: "";
  height: 210px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  transition: all 0.4s;
}
.ui-shape:before {
  top: -60%;
  left: -4%;
  width: 100px;
  background-image: url(../images/shape-a-turq.png);
}
.ui-shape:after {
  bottom: -10%;
  right: -10%;
  width: 90px;
  background-image: url(../images/shape-b-turq.png);
}
.ui-shape-light:before {
  background-image: url(../images/shape-a-wh.png);
}
.ui-shape-light:after {
  background-image: url(../images/shape-b-wh.png);
}
.ui-shape-s1:after {
  transform: rotate(60deg);
}
@media (min-width: 576px) {
  .ui-shape:before {
    width: 140px;
  }
  .ui-shape:after {
    width: 120px;
  }
}
@media (min-width: 768px) {
  .ui-shape:before {
    width: 140px;
  }
  .ui-shape:after {
    width: 120px;
  }
  .ui-shape-header:before {
    top: 22%;
    left: 9%;
  }
  .ui-shape-header:after {
    right: 15%;
    bottom: 32%;
  }
  .ui-shape-footer:before {
    top: 2%;
  }
  .ui-shape-footer:after {
    bottom: -11%;
  }
  .ui-shape-s1:after {
    right: 0;
  }
  .ui-shape-s5:after {
    right: 4%;
    bottom: 15%;
  }
  .ui-shape-s6:before {
    top: 9%;
    left: 13.3%;
  }
  .ui-shape-s6:after {
    bottom: 9%;
    right: 0;
  }
}
@media (min-width: 992px) {
  .ui-shape {
    width: 960px;
    overflow: visible;
  }
  .ui-shape:before {
    width: 190px;
  }
  .ui-shape:after {
    width: 166px;
  }
  .ui-shape-header:before {
    left: 5%;
  }
  .ui-shape-header:after {
    right: 3%;
    bottom: 22%;
  }
  .ui-shape-s5:after {
    right: -2.5%;
  }
}
@media (min-width: 1200px) {
  .ui-shape {
    width: 1170px;
  }
  .ui-shape-header:before {
    top: 22%;
    left: 2%;
  }
  .ui-shape-header:after {
    right: -2.5%;
    bottom: 33%;
  }
}

/** WGS */
.wgs { margin-bottom: 30px; }
.wgs-title { text-transform: uppercase; color: #1940b0; font-size: 1rem; font-weight: 500; letter-spacing: 0.01em; }
.wgs-title-s2 { font-size: 1.125rem; font-weight: 600; margin-bottom: 18px; }
.tc-light .wgs-title, .tc-light a:not(.btn) .wgs-title { color: #23c99d; }
.wgs-logo { padding-bottom: 22px; display: inline-block; }
.wgs-body p { font-size: 0.93em; line-height: 1.71; margin-bottom: 0.75rem; }
.wgs-body p:last-child { margin-bottom: 0; }
.wgs-links li { position: relative; }
.wgs-links li a { font-size: 0.87em; line-height: 20px; padding: 5px 0; display: block; color: #12183a; }
.wgs-links li a:hover { color: #16a3fe; }
.wgs-links-s2 li a { font-size: 1em; line-height: 24px; }
.wgs-links-category li { padding-left: 20px; }
.wgs-links-category li a { padding: 10px 0; }
.wgs-links-category li:before { position: absolute; left: 0; top: 50%; margin-top: -1px; height: 2px; width: 8px; content: ''; background: #16a3fe; }
.wgs-links-tags { padding: 12px 0; margin: -7px -5px; }
.wgs-links-tags li { display: inline-block; padding: 7px 5px; }
.wgs-links-tags li a { padding: 7px 16px; border: 1px solid #dbe4f7; border-radius: 3px; }
.wgs-links-tags li a:hover { color: #fff; border-color: #16a3fe; background: #16a3fe; }
.wgs-archive .wgs-body { padding: 12px 0; }
.wgs-cta .wgs-body { padding: 30px 30px 35px; }
.field-inline { border-radius: 6px; display: flex; }
.field-inline input { border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: none; }
.field-inline .btn { border-top-left-radius: 0; border-bottom-left-radius: 0; height: 100%; }
.wgs-search .field-inline .btn { height: auto; width: 0.5em; background-image: none; background: #16a3fe90; border: 1px solid #dbe4f7; }
.wgs-search .field-inline .btn:before { background:#16a3fe; }
.field-inline .field-wrap { flex-grow: 1; }
.field-inline + .form-results.alert { width: 100%; margin-top: 15px; }
.field-inline-s2 { padding: 10px; display: block; }
.field-inline-s2 .btn { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.input-bordered { border-radius: 6px; border: 1px solid #dbe4f7; width: 100%; padding: 10px 15px; line-height: 21px; font-size: .9em; color: #8ca2e5; transition: all .4s; background-color: transparent; }
.input-bordered-lg { padding: 13px 20px; }
.tc-light .field-inline-s3 .input-bordered { border-color: rgba(255, 255, 255, 0.5); }
.field-inline-s3 .input-bordered { border-width: 2px; border-right-width: 0 !important; }
.field-item-s2 .input-bordered { border: 2px solid #d1e0f6; background: #12183a; }
.field-item-s2 .input-bordered-light { background: transparent; }
.input-bordered::-webkit-input-placeholder { color: #8ca2e5; }
.input-bordered::-moz-placeholder { color: #8ca2e5; }
.input-bordered:-ms-input-placeholder { color: #8ca2e5; }
.input-bordered:-moz-placeholder { color: #8ca2e5; }
.input-bordered:focus { box-shadow: none; outline: none; border-color: #b7bee3; }
.input-bordered:disabled { background: rgba(219, 228, 247, 0.2); }
.btn-icon { min-width: 44px; padding: 4px 6px 0; }
.wgs-body p { font-size: 0.93em; line-height: 1.71; margin-bottom: 0.75rem; }
.wgs-body p:last-child { margin-bottom: 0; }
.wgs-archive .wgs-body { padding: 12px 0; }
.wgs-cta .wgs-body { padding: 30px 30px 65px; }
.wgs-cta { background-color: #d1e0f650; border: solid 0.05em #8ca2e550; border-radius: 0.5em; }
.title-sm { font-size: 1.125rem; }
.title-sm:not(:last-child) { margin-bottom: .85rem; }
.title-sm small { font-size: 70%; }
.row:first-child { margin-top: 2em; }

@media (min-width: 768px) { .field-inline .submit-wrap .btn { width: auto; }
  .field-inline-s2 { display: flex; } }
.select2-container.select2 { width: 100% !important; }
.select2-container .select2-selection { position: relative; }
.select2-container .select2-selection:focus { outline: none; }
.select2-container .select2-selection .select2-selection__rendered { color: rgba(65, 80, 118, 0.6); font-size: 0.94rem; }
.select2-container .select2-selection .select2-selection__arrow { position: absolute; top: 0; right: 0; height: 100%; width: 40px; }
.select2-container .select2-selection .select2-selection__arrow:after { position: absolute; top: 0; left: 0; height: 100%; width: 100%; font-family: "themify"; content: '\e64b'; text-align: center; line-height: 20px; padding: 10px 0; font-size: .88rem; }

/*Blog*/
.blog { margin-bottom: 1em; }
.blog-meta { margin: 0 -7px 4px; }
.blog-meta li { position: relative; display: inline-block; font-size: .8rem; padding: 0 7px; }
.blog-meta li:not(:last-child):after { content: '|'; position: absolute; right: -3px; top: -1px; color: #8ca2e5; }
.blog-meta li a { color: #2a3888; }
.blog-meta li a:hover { color: #16a3fe; }
.blog-tags { padding: 12px 0; margin: -7px -5px; }
.blog-tags li { display: inline-block; padding: 7px 5px; }
.blog-tags li a { padding: 7px 16px; border: 1px solid #dbe4f7; border-radius: 3px; color: #12183a; font-size: .88rem; }
.blog-tags li a:hover { color: #fff; border-color: #16a3fe; background: #16a3fe; }
.blog-featured { margin-bottom: 1em; }
.blog-comment { margin: 2em 0em; padding-top: 25px; }
.blog-action { padding: 9px 0; }
.blog-tags { display: inline-block; }
.blog-content { line-height: 1.5em; width: 65vw; overflow: hidden; }
.blog-content .title { margin: 0; }
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
.read-more { float: right; }
@media only screen and (max-width: 780px) {
  .blog-content { line-height: 1.5em; width: 90vw; overflow: hidden; }
  .read-more { margin-right: 2em; }
}

.comment-wrap { background: #f6fafd; border-radius: 6px; overflow: hidden; margin-bottom: 30px; }
.comment-item { padding: 20px; }
.comment-item:not(:last-child) { border-bottom: 1px solid #fff; }
.comment-item + .comment-item { padding-left: 40px; }
.comment-item + .comment-item + .comment-item { padding-left: 60px; }
.comment-photo { width: 50px; flex-shrink: 0; margin-bottom: 10px; margin-right: 20px; }
.comment-content { padding-top: 6px; }
.comment-info .title { margin-bottom: 0; }
.comment-time { font-size: .75rem; }
.comment-text { margin-top: 8px; }
.comment-text p { font-size: .88rem; }
.title { position: relative; font-size: 1.2rem; color: #3c3c3c; font-weight: inherit; }
.title-xs { text-transform: uppercase; font-size: 0.88rem; letter-spacing: 0.2em; }
.title-xs-alt { font-size: 0.94rem; }
.title-xs small { font-size: 70%; font-weight: 100; }
.title-md { font-size: 1.375rem; }
.title-md:not(:last-child) { margin-bottom: 1rem; }

/*themify*/
@font-face {
  font-family: "themify";
  src: url("../fonts/themify.eot");
  src: url("../fonts/themify.eot?#iefix") format("embedded-opentype"),
    url("../fonts/themify.woff") format("woff"),
    url("../fonts/themify.ttf") format("truetype"),
    url("../fonts/themify.svg?#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="ti-"],
[class*=" ti-"] {
  font-family: "themify";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ti-search:before {
  content: "\e610";
  font-size: 1.5em;
  font-weight: 600;
}

/*Team*/
.io-azure .team-section.bg-fixed:before {
  background-attachment: fixed;
  background-size: cover;
}
.team-member .team-photo .expand-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 178px;
}
.team-circle .team-photo {
  position: relative;
  width: 5em;
}
.team-circle .team-photo img {
  border-radius: 50%;
  width: 160px;
  position: relative;
  z-index: 2;
}
.team-circle .team-photo .expand-trigger {
  position: absolute;
  top: -12px;
  left: -12px;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  z-index: 3;
  border-radius: 50%;
  color: #fff;
}
.team-circle .team-photo:before {
  position: absolute;
  content: "";
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  border-radius: 50%;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) scale(0.6);
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease;
  background-image: linear-gradient(to top, #2b56f5 0, #46bdf4 100%);
}
.team-circle .team-photo:hover .expand-trigger {
  opacity: 1;
}
.team-circle .team-photo:hover:before {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.team-circle .team-info {
  margin-top: 25px;
}
.team-circle .team-name {
  font-size: 1em;
  color: #373e45;
  font-weight: 400;
  margin-bottom: 0;
}
.team-circle .team-title {
  font-size: 13px;
  display: block;
  margin-bottom: 12px;
}
.team-circle .team-social li {
  display: inline-block;
  margin: 0 7px;
}
.team-circle .team-social li a .fa {
  font-size: 16px;
}
.team-profile {
  max-width: 970px;
  margin: 30px auto;
  padding: 50px 20px;
  background: #fff;
  position: relative;
  color: #3c3c3c;
}
.team-profile .team-profile-photo img {
  width: 100%;
}
.team-profile .team-profile-info {
  padding: 30px 0 20px 20px;
}
.team-profile .team-profile-info .name {
  margin-bottom: 5px;
  color: #3c3c3c;
}
.team-profile .team-profile-info .sub-title {
  font-size: 0.875em;
  margin-bottom: 5px;
}
.team-profile .team-profile-info .tpi-social li {
  display: inline-block;
  margin-right: 15px;
}
.team-profile .team-profile-info .tpi-social li a {
  font-size: 14px;
}
.team-profile .team-profile-info p {
  margin-bottom: 8px;
}
.team-profile .team-profile-info p:last-of-type {
  margin-bottom: 28px;
}
.bg-team-exp.mfp-bg {
  background-image: linear-gradient(to right, #46bdf4 0, #7a0fff 100%);
}